<!DOCTYPE html>
html(lang="ru")
	include templates/head
	body 
		include templates/header
		main.main-content
			include templates/about__content
			include templates/my_works
			include templates/contacts
		include templates/footer
		include templates/scripts_include