.title{
	font-size: 2.1875em;
	text-align: center;
}
.main-content{
	position: relative;
	z-index: 3;
	color: #474b57;
}
.about-me{
	background-color: #f2f0e8;
	padding: 10px 0 25px;

	.title{
		margin-top: 0px;
	}
	&__title{
		position: relative;
		text-align: center;


		&:after{
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 56px;
			height: 3px;
			background-color: #000;
			bottom: -10px;
		}
	}

	&__photo{
		width: 100%;
		max-width: 475px;
		display: block;
		margin: auto;
	}
	&__text{
		max-width: 495px;
		margin: auto;
		padding: 10px;
		text-align: justify;
	}
	&:before{
		z-index: 0;
		content: '';
		position: absolute;
		height: 180px;
		width: 100%;
		top: -179px;
		left: 0px;
		background-image: url(../pictures/bg.svg);
		background-size: 103%;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
}
.skills{
	background-color: #f4f5f0;
	padding: 15px 10px 25px;
	text-align: justify;


	p{
		max-width: 475px;
		margin: auto;
		display: block;
	}

	&__title{
		position: relative;
		text-align: center;

		&:after{
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 56px;
			height: 3px;
			background-color: #000;
			bottom: -10px;
		}
	}

	&__types-list{
		padding: 0px;
	}
	&__type-title{
		text-align: center;
		font-size: 1.3125em;
		margin: 15px;
	}
	&__type{
		margin-top: 25px;
		list-style: none;
	}
	&__item-list{
		padding: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item{
		display: inline-block;
		max-width: 475px;
		margin: 10px;

		svg{
			height: 110px;
		}
	}
}
.contacts{
	background-color: white;
	padding: 5px;

	&__title{
		position: relative;

		&:after{
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 56px;
			height: 3px;
			background-color: #a1a3a9;
			bottom: -10px;
		}
	}
	&__list{
		padding: 0 10px;

	}
	&__item{
		list-style: none;
		margin-top: 5px;
	}
	&__link{
			color: #555;
			text-decoration: none;
			display: flex;
			align-items: center;

			.icon{
				color: blue;
				margin-right: 5px;
				font-size: 32px;
			}
			&:hover{
				color: #333;
				.icon{
					color: darken(blue,20%);
				}
			}
	}

}
.map{
	height: 90vh;
	width: 100%;
}

@media only screen and (min-width: 475px){
	.contacts{
		position: relative;
		padding: 0px;

		&__data{
			position: absolute;
			z-index: 100;
			bottom: 45%;
			left: 50%;
			transform: translateX(-50%);
			background-color: rgba(255,255,255,.9);
			padding: 20px;
		}
	}
}
@media only screen and (min-width: 900px){
	.about-me{
		padding-top: 150px;
		width: 50%;
		background-color: transparent;
		background-image: url('../pictures/about_bg_left.svg');
		background-position: top;
		background-size: cover;		
		&:before{
			display: none;
		}
		.title{
			font-size: (63em/16);
			padding: 50px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			background-image: url('../pictures/stars2.svg');
			margin-bottom: 20px;
		}
	}
	.skills{
		&>p{
			margin: 0 15px;
			max-width: 100%;
		}
		padding-top: 150px;
		width: 50%;
		background-color: transparent;
		background-image: url('../pictures/about_bg_right.svg');
		background-position: top;
		background-size: cover;

		&__title{
			font-size: 2em;
		}
		&__type-title{
			text-align: left;
			font-size: (28em/16);
		}
		&__item-list{
			justify-content: flex-start;
		}

	}
	.main-content{
		margin-top: -160px;
		display: flex;
		flex-wrap: wrap;
	}
	.contacts{
		width: 100%;
	}
}
@media only screen and (min-width: 1200px){
	.main-content{
		margin-top: -185px;
	}
}