.header{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	&__fixed{
		position: fixed;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		background-image: url('../pictures/header_bg.jpg');
		background-size: cover;
		background-position: center;
	}

	&__top{
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__center{
		color: white;
		position: relative;
		top: -50px;
		width: 90%;
		margin: auto;
		text-align: center;
		
		*{
			position: relative;
			z-index: 2;
		}

		&:before{
			background-image: url(../pictures/stars1.svg);
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
			content: '';
			position: absolute;
			left: 0;
			top: 0px;
			height: 100%;
			width: 100%;
			opacity: .1;
		}


	}
	&__center-img{
		border-radius: 50%;
		width: 145px;
		height: 145px;
		margin: auto;
		display: block;
	}
	&__title{
		font-size: 1.3125em;
		margin-top: 30px;
		margin-bottom: 10px;
	}
	&__subtext{
		font-size: .875em;
	}
	&__bottom{
		margin: 15px auto 15px;
		bottom: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;
	}
	&__scroll-button{
		color: rgba(255,255,255, .5);
	}
	&__hidden{
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		min-height: 100vh;
		display: flex;
		z-index: 1000;
		background-color: rgba(64,76,121,.9);
		transition: 1s;
	}
	&__hidden_active{
		right: 0px;
	}
}
.nav-trigger{
	position: fixed;
	z-index: 100;
	right: 10px;
	top: 10px;
	transform-origin: 50%;

	&:hover{

		.nav-trigger__icon{
			background-color: yellow;
		}
	}

	&__icon{
		transition: 1s;
		display: block;
		width: 26px;
		height: 3px;
		border-radius: 3px;
		background-color: #fff;

		&:not(:first-child){
			margin-top: 7px;
		}
	}
}
.nav-trigger_active{
	.nav-trigger__icon{

		&:nth-child(1){
			transform: rotateZ(45deg) translateY(10px) translateX(5px);

		}
		&:nth-child(3){
			transform: rotateZ(-45deg) translateY(-10px) translateX(4px);
		}
		&:nth-child(2){
			opacity: 0;
		}
	}
	&:hover .nav-trigger__icon{
		background-color: red;
		animation: none;
	}
}
@media only screen and (min-width: 475px){
	.header{
		
		&__title{
			font-size: (35em/16);
		}
		&__subtext{
			font-size: 1em;
		}
		&__center-img{
			width: 190px;
			height: 190px;
		}
		&__bottom{
			margin-bottom: 50px;
		}
	}
}