include  ../common/mixins
header.header
	.header__fixed
		canvas#header__Canvas
		.header__top
			.header__left
				+socials('')
		.header__center
			img(src="img/my_photo.jpg", alt="Измайлов Михаил").header__center-img
			h1.header__title Измайлов Михаил
			span.header__subtext Личный сайт frontend разработчика
	.header__bottom
		a(href="#" data-target="about").header__scroll-button.scroll-button
			+icon('arrow_down','')
	.header__hidden
		+nav('')
		.header__right
				a(href="#").nav-trigger
					-for(var i=0; i<3; i++)
						i.nav-trigger__icon